@login-background: #E6E6E6;
@login-form-background: #F7F7F7;
@login-border-color: #C5C5C5;
login {
    background-color: @login-background;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .login-box {
        max-width: 400px;
        max-height: 300px;
        display: block;
        float: left;
        width: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border: 1px solid @login-border-color;
        border-radius: 5px;
        background-color: @login-form-background;
        padding: 40px;
        .title {
            text-align: center;
            margin-bottom: 20px;
            text-transform: capitalize;
            font-weight: bold;
        }
        input[type='text'], input[type="password"] {
            border: 1px solid @login-border-color;
            border-radius: 5px;
            height: 40px;
            width: 100%;
            float: left;
            margin-bottom: 20px;
            font-size: 14px;
            padding: 0 20px;
            color: #4D4D4D;
        }
        .le-button {
            width: 100%;
            text-align: center;
        }
    }
}