form.login-box
    .title Enter login and password
    input(type='text', name='username', [(ngModel)]="loginModel.username")
    input(type='password', name='password', [(ngModel)]="loginModel.password")
    .validation-error([hidden]='true') Incorrect login or password
    input(class='le-button', type='submit', value='Login', (click)="login()")