* {
    margin: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}


html,
body {
    height: 100%;
    min-width: 320px;
    display: block;
    width: 100%;
    font-family: 'Open Sans',sans-serif;
    font-size: 15px;
}

body {
    color: @main-text-color;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    color: @main-text-color;
    text-decoration: none;
    outline: none !important;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover,
a:active,
a:focus {
    text-decoration: none;
    cursor: pointer;
}

.le-button {
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    padding: 10px 20px;
    display: inline-block;
    line-height: 20px;
    border: none;
    font-size: 15px;
    text-transform: capitalize;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    background-color: @lebutton-background;
    color: @lebutton-test-color;

    &.huge {
        padding: 18px 52px;
    }

    &.big {
        padding: 15px 34px;
    }

    &:hover {
        background-color: #395168;
    }

    &.inverse {
        background-color: #e0e0e0;
        color: #3d3d3d;
        font-weight: 100;

        &:hover {
            background-color: #ececec;
            color: #3d3d3d;
        }
    }

    &.disabled {
        cursor: not-allowed;
        background-color: #c6c6c6;
        color: #fff;
    }
}
