html
    head
        title MyCommunity - Admin
        script(src="lib/core-js/client/shim.min.js")
        script(src="lib/zone.js/dist/zone.js")
        script(src="lib/reflect-metadata/Reflect.js")
        script(src="lib/systemjs/dist/system.src.js")
        script(src="systemjs.config.js")
        base(href="/")
        script.
            System.import('app').then(null, console.error.bind(console));

    body
        MyCommunity Loading...
