h1 This is core module - dashboard view, you also can navigate to user profile page or to login page by links bellow.
nav
    a(routerLink="/", routerLinkActive="active") Dashboard page
    br
    a(routerLink="/user-profile", routerLinkActive="active") User profile page
    br
    a(routerLink="/login", routerLinkActive="active") Login page

router-outlet